@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100..900&display=swap');
html{
font-family:"Noto Sans JP" sans-serif;
}
body {
    background-color: violet;
}
div{
background-color:white
}
h1{
background-color:green
}

a {
    color: black;
}
form{
color:blue
}