{% extends "base.html"%}
{% load static %}



 {% block page_content%}

<section>
    <nav>
        <h1> {{blog.title}}</h1>
    </nav>
</section>




<img src="{% static 'images/'|add:blog.title|add:'.jpg' %}" alt="{{blog.intro }}" width="200px">
<br> {{blog.title }}<br>
post date {{blog.date}}
{{blog.summary|linebreaks}}
<address>By {{blog.author}}<br> <a href="mailto:{{ blog.author.email }}">{{blog.author.email}}</a></address>
<section>
    <h3>comments</h3>
    <ul>

         {% for  blog in comments %}
        <li>
            BY  {{blog.username}}<br>
            <table>
           <tr>

               <td>{{blog.text}}<br></td>
                </tr>
            </table>

        </li>
         {% endfor %}
    </ul>
</section>
    <form action="{% url 'about' blog.title %}" method="POST">
        {% csrf_token %}
        {{form}}
          <button>Save</button>
    </form>

<H7>
    COPY RIGHT @TO VEDANT PACHAURI
</H7>
{% endblock %}